$primary-color: #495e57;
$primary-color-dark: darken($primary-color, 10%);
$secondary-color: #F4CE14;
$secondary-color-dark: darken($secondary-color, 10%);
$black: #000000;
$white: #ffffff;
$icon-color: #48742c;