@import 'variables/variables';


.footer_container {
    background-color: $primary-color;
    padding: 30px 0;

    .footer_content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;

        .footer_columnTitle {
            color: $secondary-color;
            margin-bottom: 10px;
        }

        .footer_columnItems {
            li, a {
                color: $white;
                font-size: 16px;
                font-weight: 400;
            }
        }
    }
}